:root {
    --primary-color: orange;
    --secondary-color: #333;
    --tertiary-color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

.main-container {
    display: flex;
    height: 100%;
}

nav {
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    padding: 10px;
}

.show-buttons {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

button {
    background: inherit;
    color: var(--tertiary-color);
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: border-left-color 0.3s ease-in, border-right-color 1s, border-top-color 0.7s, border-bottom-color 0.7s;
    margin-right: 10px;

}

button:hover {
    border-color: var(--tertiary-color);
}

.container {
    margin: 10px;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 300px;
}


img {
    max-width: 90%;
}

.resizer {
    background: var(--secondary-color);
    width: 3px;
    cursor: ew-resize;
    height: 100%;
}

.map-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.trail {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.line {
    height: 2px;
    width: 100%;
    background-color: black;
    margin: 5px 0;
}

.point {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

table tbody tr:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.highlight {
    border: 2px solid red;
    position: absolute;
    top: 20%;
    left: 30%;
    width: 50px;
    height: 50px;
}