:root {
    --primary-color: orange;
    --secondary-color: #333;
    --tertiary-color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


.main-container {
    display: flex;
}

nav {
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    padding: 10px;
}

.show-buttons {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

button {
    background: inherit;
    color: var(--tertiary-color);
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: border-left-color 0.3s ease-in, border-right-color 1s, border-top-color 0.7s, border-bottom-color 0.7s;
    margin-right: 10px;

}

button:hover {
    border-color: var(--tertiary-color);
}

.container {
    margin: 10px;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 300px;
}

.resizer {
    background: #c1c1c1;
    width: 3px;
    cursor: ew-resize;
    height: 100%;
}

.map-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.trail {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
    padding: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}

.line {
    height: 3px;
    width: 100%;
    background-color: var(--secondary-color);
    margin: 2px 0;
}

.point {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

table tbody tr:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.path-form {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.path-form label {
    margin-right: 10px;
}

.path-form input {
    margin: 5px 10px 5px 0;
}

.path {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--tertiary-color);
}

.path ul {
    list-style-type: none;
    padding: 0;
}

.path ul li {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid var(--secondary-color);
    border-radius: 3px;
}

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid var(--secondary-color);
}

th {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}


tr:hover {
    color: var(--tertiary-color);
}

table#shelters-table td, table#peaks-table td {
    color: var(--secondary-color);
}


th, td {
    font-size: 16px;
}

th {
    font-weight: bold;
}

* {
    transition: background-color 0.3s ease;
}

.path-container {
    margin: 10px;
    display: flex;
    flex-grow: 1;
    gap: 10px;
    padding: 0 20px 0 20px;
    background-color: var(--tertiary-color);
    border: 3px solid var(--primary-color);
    border-radius: 8px;
}

.path-form{
    border: 1px solid var(--primary-color);
}

.path-form h2 {
    color: var(--secondary-color);
    text-align: center;
}

.path-form label {
    display: block;
    color: var(--secondary-color);
}

.path-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    background-color: #fff;
    color: var(--secondary-color);
}

.path-form button {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.path-form button:hover {
    background-color: var(--secondary-color);
}

.path {
    margin-top: 20px;
    flex-grow: 1;
    padding: 20px;
    background-color: var(--tertiary-color);
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    color: var(--secondary-color);
}