<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strona administratora</title>
    <link rel="stylesheet" href="/css/admin_page.css">
</head>
<body>
<nav class="navbar">
    <button class="nav-button" data-target="shelters">Schroniska</button>
    <button class="nav-button" data-target="peaks">Szczyty</button>
    <button class="nav-button" data-target="trail-points">Fragmenty Szlaku</button>
</nav>
<div class="main-container">
    <div id="shelters" class="hidden form-section">
        <form id="add-shelter-form" action="/api/shelters" method="post">
            <h3>Dodaj Schronisko</h3>
            <input type="text" name="name" placeholder="Nazwa" required>
            <input type="text" name="phone" placeholder="Telefon" required>
            <input type="text" name="internalPhone" placeholder="Telefon Wewnetrzny">
            <input type="email" name="email" placeholder="Email">
            <input type="text" name="owner" placeholder="Wlasciciel">
            <label>
                Aktywne
                <input type="checkbox" name="status">
            </label>
            <button type="submit">Dodaj Schronisko</button>
        </form>
        <form id="update-shelter-form" action="/api/shelters" method="put">
            <h3>Aktualizuj Schronisko</h3>
            <input type="number" name="id" placeholder="ID Schroniska" required>
            <input type="text" name="name" placeholder="Nazwa">
            <input type="text" name="phone" placeholder="Telefon">
            <input type="text" name="internalPhone" placeholder="Telefon Wewnetrzny">
            <input type="email" name="email" placeholder="Email">
            <input type="text" name="owner" placeholder="Wlasciciel">
            <label>
                Aktywne
                <input type="checkbox" name="status">
            </label>
            <button type="submit">Aktualizuj Schronisko</button>
        </form>
        <form id="delete-shelter-form" action="/api/shelters" method="delete">
            <h3>Usun Schronisko</h3>
            <input type="number" name="id" placeholder="ID Schroniska" required>
            <button type="submit">Usun Schronisko</button>
        </form>
    </div>

    <div id="peaks" class="hidden form-section">
        <form id="add-peak-form" action="/api/peaks" method="post">
            <h3>Dodaj Szczyt</h3>
            <input type="text" name="name" placeholder="Nazwa" required>
            <input type="number" name="height" placeholder="Wysokosc" required>
            <button type="submit">Dodaj Szczyt</button>
        </form>
        <form id="update-peak-form" action="/api/peaks" method="put">
            <h3>Aktualizuj Szczyt</h3>
            <input type="number" name="id" placeholder="ID Szczytu" required>
            <input type="text" name="name" placeholder="Nazwa">
            <input type="number" name="height" placeholder="Wysokosc">
            <button type="submit">Aktualizuj Szczyt</button>
        </form>
        <form id="delete-peak-form" action="/api/peaks" method="delete">
            <h3>Usun Szczyt</h3>
            <input type="number" name="id" placeholder="ID Szczytu" required>
            <button type="submit">Usun Szczyt</button>
        </form>
    </div>

    <div id="trail-points" class="hidden form-section">
        <form id="add-trail-point-form" action="/api/trail_points" method="post">
            <h3>Dodaj Fragment Szlaku</h3>
            <input type="number" name="point1Id" placeholder="ID Punktu 1" required>
            <input type="number" name="point2Id" placeholder="ID Punktu 2" required>
            <input type="number" name="trailId" placeholder="ID Szlaku" required>
            <input type="number" name="ascendTime" placeholder="Czas Wejscia" required>
            <input type="number" name="descendTime" placeholder="Czas Zejscia">
            <input type="text" name="color" placeholder="Kolor">
            <button type="submit">Dodaj Fragment Szlaku</button>
        </form>
        <form id="update-trail-point-form" action="/api/trail_points" method="patch">
            <h3>Aktualizuj Fragment Szlaku</h3>
            <input type="number" name="point1Id" placeholder="ID Punktu 1" required>
            <input type="number" name="point2Id" placeholder="ID Punktu 2" required>
            <input type="number" name="trailId" placeholder="ID Szlaku">
            <input type="number" name="ascendTime" placeholder="Czas Wejscia">
            <input type="number" name="descendTime" placeholder="Czas Zejscia">
            <input type="text" name="color" placeholder="Kolor">
            <button type="submit">Aktualizuj Fragment Szlaku</button>
        </form>
        <form id="delete-trail-point-form" action="/api/trail_points" method="delete">
            <h3>Usun Fragment Szlaku</h3>
            <input type="number" name="point1Id" placeholder="ID Punktu 1" required>
            <input type="number" name="point2Id" placeholder="ID Punktu 2" required>
            <button type="submit">Usun Fragment Szlaku</button>
        </form>
    </div>
</div>
<script src="/js/admin_page.js"></script>
</body>
</html>
