<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa</title>
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <a href="adminPage">
        <button>Strona administratora</button>
    </a>
</nav>
<div class="main-container">
    <section>
    <div class="data-container container">
        <nav class="show-buttons">
            <button id="showPeaks">Pobierz szczyty</button>
            <button id="showShelters">Pobierz schroniska</button>
            <button id="fetch-trails-btn">Pobierz szlaki</button>
        </nav>
        <div id="peaks-table">
        </div>
        <div id="shelters-table">
        </div>

    </div>
        <div class = "path-container">
            <div class="path-form">
                <h2>Znajdz sciezke</h2>
                <form id="find-path-form">
                    <label for="start-point">ID punktu poczatkowego:</label>
                    <input type="number" id="start-point" name="id1" required>
                    <label for="end-point">ID punktu koncowego:</label>
                    <input type="number" id="end-point" name="id2" required>
                    <button type="submit">Szukaj</button>
                </form>
            </div>
            <div class = "path"></div>
    </section>
    <div class="resizer"></div>
    <div class="container map-container">
    </div>
</div>

</div>
<!--<div id="data-container"></div>-->
<script src="/js/main.js"></script>
<script src="/js/resizer.js"></script>
<script src="/js/find_path.js"></script>
</body>
</html>