<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa</title>
    <script src="/js/main.js"></script>
    <script src="/js/resizer.js"></script>
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <a href="addData">
        <button>Pokaż formularz</button>
    </a>
</nav>
<div class="main-container">
    <div class="data-container container">
        <nav class="show-buttons">
            <button id="showPeaks">Pokaż szczyty</button>
            <button id="showShelters">Pokaż schroniska</button>
        </nav>
        <div id="peaks-table">
        </div>
        <div id="shelters-table">
        </div>

    </div>
    <div class="resizer"></div>
    <div class="container map-container">
        <img alt="placeholder" src="/images/placeholder.jpg">
    </div>
</div>
<div id="data-container"></div>
</body>
</html>